@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="container row logo col-2">
            <img src="img/logo.png" />
        </div>
        <div class="container">
            <div class="row col-6 m-5 p-50 vh-75 h-75">
                @Body
            </div>
        </div>
        <div class="container row goals col-2">
            <img src="img/goal.png" />
        </div>
    </main>
</div>
